 <div class="col-1">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold">Taxonomy Filters</span>
        </a>

        <ul class="list-unstyled">
            <span> Artificial Intelligence </span>
                {% include 'taxonomy.html' with taxonomies=form.ai_taxonomies %}
            <li class="border-top my-3"></li>
            <span>Conceptual Modeling </span>
                {% include 'taxonomy.html' with taxonomies=form.cm_taxonomies%}
            <li class="border-top my-3"></li>
            <span>Research Methods </span>
                {% include 'taxonomy.html' with taxonomies=form.others %}
            <li class="border-top my-3"></li>
            {% include 'non_taxonomy_filters.html' with entries=summary.years name="Start Year" id="sy"%}
<!--            <li class="border-top my-3"></li>-->
            {% include 'non_taxonomy_filters.html' with entries=summary.years name="End Year" id="ey"%}
        </ul>
</div>